# ============ DATASET LỚN ============
data/
*.zip
*.rar
*.7z

# ============ VIRTUAL ENV ============
env/
venv/
.venv/
*.egg-info/

# ============ CACHE ============
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# ============ IDE ============
.vscode/
.idea/
*.swp

# ============ OUTPUT TẠM ============
*.log
*.tmp
temp/

# ============ HỆ ĐIỀU HÀNH ============
.DS_Store
Thumbs.db
